p {
    color: darkred;
}

h1 {
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
}

p:first-of-type {
    float: right;
}

body {
    background-color: cyan;
}

a {
    text-decoration: line-through;
}

p::first-letter {
    text-transform: capitalize;
  }